body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #ffffff;
  padding: 60px;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #8309b6;
}

.textbox {
  margin-bottom: 20px;
}

.textbox input, .textbox select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.textbox select {
  color: #777777;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #8309b6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #c9302c;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #777777;
}
